/* NOTE: Linear-gradient di gunakan untuk memberikan warna gradasi pada element yang kita punya secara garis lurus */

/* IMPORTANT: Linear-Gradient itu bukan property css3, melainkan value background-image */

/* Penulisan Sintaks sederhananya
background-image:linear-gradient(warna awal,warna akhir); */
/* PENULISAN SINTAK LENGKAP 
background:linear-gradient(sudut|arah,warna awal, warna akhir);*/
/* untuk sudut bisa menggunakan satuan deg(degre/derajat 
   dan untuk arah bisa menggunakan:
   -to bottom (dari atas ke bawah)
   -to top (dari bawah ke atas)
   -to left (dari kanan ke kiri)
   -to right(dari kiri ke kanan)*/
/* DIAGONAL VERSION
- to left top (untuk kanan atas)
-to left bottom (untuk kiri bawah)
-to right top (untuk kanan atas)
-to right bottom( untuk kanan bawah)
-dsb */

/* INFO: Penggunaan gradient ini bisa menggunakan property background saja tidak usah di tambah image. dan value untuk warnanya bisa di isi dengan nilai hexa */
/* INFO: Multipel color bisa di terapkan untuk warna lebih dari 2 */

div {
    width:600px;
    height:300px;
    margin:50px auto;
    /* background-image:linear-gradient(green,rgba(255,255,0,1),red); */
    /* background:linear-gradient(#00ff00,#ff0000); */
    /* background:linear-gradient(to bottom right,red,yellow); */
    /* COLOR STOP di gunakan untuk mengatur bobot dari warna*/
    background:linear-gradient(to left,red 70%,yellow 20%);
}
